/* carousel section start  */
.carousel_p-div {
  width: 500px;
  height: 60px;
}

.custom-margin-footer {
  margin-bottom: 100px;
}
.custom-batch {
  margin-left: -40px;
}

.footer {
  height: 280px;
}

@media only screen and (max-width: 600px) {
  .custom-flex {
    display: flex;
  }
  .flex-padding {
    margin-bottom: 40px;
    text-align: center;
  }
  .custom-margin {
    margin-top: 0px;
  }
}
